// FONT FAMILY
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');
$font-family: 'Syne', sans-serif;
// COLORS
$button-color: #7b2ae7;
$first-color: #D3AB66;
$second-color: #ffffff;
$footer-cr-color: #CCCCCC;
// FONT SIZES
$title-size: 30px;
$paragraph-size: 18px;
$footer-cr: 15px;

